<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1">
	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>
	<test  name="Test">
	<parameter name="browser" value="chrome" />
		<classes>
	
		 <class name="Testcases.CategorypageScripts" /> 
		    <class name="Testcases.ShoppingCartScripts" /> 
			<class name="Testcases.BopisCheckoutScripts" />
			<class name="Testcases.CheckoutScripts" />
			<class name="Testcases.HomepageScripts" />
			<class name="Testcases.PDPScripts" /> 
			<class name="Testcases.HomepageScripts" />
			<class name="Testcases.RegisterationScripts" /> 
			<class name="Testcases.OrderConformationPageScripts" /> 
			<class name="Testcases.MyAccountScripts" /> 
			<class name="Testcases.CategorypageScripts" /> 
			<class name="Testcases.BillingPageScripts" /> 
			<class name="Testcases.OrderHistoryScripts" />
			<class name="Testcases.SearchpageScripts" />  
			<class name="Testcases.ShippingPageScripts"/> 
			<class name="Testcases.WishListScripts" /> 
		</classes>
	</test> 
</suite> <!-- Suite -->
